<span style="color: {{this.color}};">
  {{#if (eq this.dir "0")}}
    <i class="fas fa-ban"></i>
  {{else if (eq this.dir "1")}}
    <i class="fas fa-arrows-alt-v" ></i>
  {{else if (eq this.dir "2")}}
    <i class="fas fa-arrows-alt-h"></i>
  {{else if (eq this.dir "3")}}
    3D
  {{/if}}
</span>